.business-section {
  padding: 4rem 1rem;
  background: black;
  color: white;
  text-align: center;
}

.intro-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  text-align: left;
  max-width: 1247px;
  margin: 0 auto;
}
