#root {
  /* max-width: 100%; */
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  color: #333;
  background-color: #ffffff;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  font-size: 4.375rem;
  line-height: 1.1;
  animation: fade-in 1s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  animation: fade-in 1s ease-in;
  /* Para animação ao rolar: */
  &.fade-in-on-scroll,
  &.fade-in-on-scroll.visible {
    transition: opacity 1s ease-in, transform 1s ease-in;
  }
  &.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(-10px);
  }
  &.fade-in-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  font-family: "IBM Plex Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Remova a animação automática dos títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy", system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* animation: fade-in 1s ease-in; */
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Add this class for fade-in animation */
.animate-fade-in {
  animation: fade-in 1s ease-in;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 1, 2) infinite;
}

/* Classe para fade-in ao scroll */
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Responsovity */

@media (max-width: 1024px) {
  h1 {
    font-size: 3.438rem;
  }
  #root {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #root {
    font-size: 15px;
    margin: 0 auto;
  }
  h1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 640px) {
  #root {
    font-size: 14px;
  }
  h1 {
    font-size: 3rem;
  }
  body {
    overflow-x: hidden;
  }
}
