@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-black.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
